.advantages {
  text-align: center;
  overflow: hidden;

  &__photo {
    height: 100%;
    @media (min-width: @desktop-width) {
    width: 100%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    margin-top: 0;
    padding-top: 25px;
    @media (min-width: @tablet-width) {
      font-size: 21px;
    }
  }

  &__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 15px;
    margin: 0 auto;
    @media (min-width: @tablet-width) {
      font-size: 16px;

    }
  }

  &__description-container {
    @media (min-width: @tablet-width) {
      padding-top: 12px;
      padding-left: 35px;
      padding-right: 35px;
      display: flex;
      flex-direction: column;
    }
  }

&__item-container {
  text-align: start;
  margin-left: 55px;
  @media (min-width: @tablet-width) {
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
}

&__greyback-container {
  @media (min-width: @tablet-width) {
  display: flex;
  }
}
}


.advantages__item--greyback {
  background-color: rgba(238, 238, 238, 1);
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 40px 50px 40px;

    }
    @media (min-width: @desktop-width) {
      width: 100%;
    }
}

.advantages__item--blueback {
  color: #ffff;
  background-color: rgba(129, 179, 210, 1);
  margin-top: 45px;
  @media (min-width: @tablet-width) {
    display: flex;
    width: 100%;
}
}

.logo {
  position: relative;
  right: 125px;
  top: 58px;
  @media (min-width: @tablet-width) {
  width: 79px;
  height: 72px;
  position: relative;
  left: 0px;
  top: 5px;
  padding-top: 60px;
  }
  @media (min-width: @desktop-width) {
    position: relative;
    top: 10px;
  }


}
