.advantages {
  text-align: center;

  &__list {
    list-style-type: none;
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
  }

  &__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
}

.advantages__item—greyback {
  background-color: rgba(238, 238, 238, 1);
}

.advantages__item—blueback {
  color: #ffff;
  background-color: rgba(129, 179, 210, 1);
}
