.catalog-welcome {
    height: 106px;
    color: #000000;
    background-color: #FFFFFF;
    background-image: url("../images/index-background.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: auto;
    text-align: center;
    padding-top: 108px;
    padding-bottom: 118px;
    }
