.form {
  text-align: center;
  display: grid;

&__form-input {
  width: 280px;
  height: 58px;
}
  input::placeholder {
    color: black;
    font-weight: 700px;
    font-size: 18px;
    line-height: 26px;
  }

  &__filter-list {
    list-style-type: none;
  }

  &__control {
    font-weight: 700px;
    font-size: 18px;
    line-height: 26px;
    text-transform: none;
  }
}

