.intro {
  text-align: center;

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
  }

  &__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
  }
}
