.main-nav {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #fff;

  &__toggle {
    background-color: rgba(129, 179, 210, 1);
    width: 23px;
  }

  &__list {
    background-color: rgba(129, 179, 210, 1);
    list-style-type: none;
    margin: 0;
    padding: 0;

  }
}
