.welcome-anthem {
  height: 300px;
  color: #000000;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: auto;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 70px;

  @media (min-width: @tablet-width) {
    padding-top: 50px;
    padding-bottom: 130px;

  }


  @media (min-resolution: 2dppx) {
    background-image: url("../images/index-background-2dppx.jpg");
    background-size: 1338px auto;
  }
}

